.App, .login {
  text-align: center;
  background-color: #faebd7;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h3, p{
  display: inline-block;
  width: 12%;
  font-weight:bold;
}

label{
  font-weight:bold;
}

header, h1{
  background-color: #20B2AA;
}

hr{
  width: 18%;
}

button, #task, #categories, #category {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 8.5rem;
  background: transparent;
  color: black;
  border: 2px solid black;
  font-weight:bold;
}
